<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="D:/Automation-testing">
        <classes>
            <class name="SecondTest"/>
<!--            <class name="BsicTest"/>-->
        </classes>
    </test>
    
    <test name="test2">
        <classes>
            <class name="BsicTest"/>
<!--            <class name="SecondTest"/>-->
        </classes>
    </test>
</suite>